<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Client</title>
</head>
<body>
  <a href="/">Go back to home page</a>
  <h1>Login</h1>
  <form id="loginForm" method="POST" action="/client/login">
    <label>Email</label>
    <input name="email" type="email" placeholder="Type your email" required />
    <button>Login</button>
  </form>

  <h3>Don't have an account yet? Register:</h3>
  <form id="registerForm" method="POST">
    <label>Name</label>
    <input name="name" placeholder="Type your name" required />

    <label>Email</label>
    <input type="email" name="email" placeholder="Type your email" required />

    <h4>Primary Address</h4>
    <label>Road</label>
    <input name="address_road" required />
    <label>Number</label>
    <input name="address_number" required />
    <label>City</label>
    <input name="address_city" required />

    <h4>Credit Card</h4>
    <label>Number</label>
    <input name="cc_number" required />

    <h4>Credit Card Billing Address</h4>
    <label>Road</label>
    <input name="cc_road" required />
    <label>Number</label>
    <input name="cc_number_addr" required />
    <label>City</label>
    <input name="cc_city" required />

    <button>Register</button>
  </form>

  <script>
    const loginForm = document.getElementById("loginForm")
    const registerForm = document.getElementById("registerForm")

    loginForm?.addEventListener("submit", (e) => {
      e.preventDefault()
      fetch("/client/login", {
        method: "POST",
        body: new FormData(loginForm)
      })
        .then(res => {
          if (!res.ok) {
            alert("Cannot login. Invalid credentials or internal server error.")
            return
          }
          window.location.href = "/client/home"
        })
    })

    registerForm?.addEventListener("submit", (e) => {
      e.preventDefault()
      const formData = new FormData(registerForm)

      const primaryAddress = `${formData.get("address_road")},${formData.get("address_number")},${formData.get("address_city")}`
      const ccAddress = `${formData.get("cc_road")},${formData.get("cc_number_addr")},${formData.get("cc_city")}`

      formData.set("address", primaryAddress)
      formData.set("cc_address", ccAddress)

      fetch("/client/register", {
        method: "POST",
        body: formData
      })
        .then(res => {
          if (!res.ok) {
            alert("Registration failed. Duplicate email or server error.")
            return
          }
          window.location.href = "/client/home"
        })
    })
  </script>
</body>
</html>
